@model Obligatorio2.Models.Usuario

@{
    ViewBag.Title = "LoginUsuario";
}

<h2>LoginUsuario</h2>
<div class="jumbotron">
    <div class="row">
        <div class="col-lg-12">
            @Html.ValidationSummary()
            @using (Html.BeginForm())
            {
                <p>
                    @Html.LabelFor(m => m.Email)
                    @Html.TextBoxFor(m => m.Email)
                    @Html.ValidationMessageFor(m => m.Email)
                    @Html.LabelFor(m => m.Contrasenia)
                    @Html.TextBoxFor(m => m.Contrasenia)
                    @Html.ValidationMessageFor(m => m.Contrasenia)
                </p>

                <p>
                    <input type="submit" value="Ingresar">
                </p>
            }
        </div>
        <div class="col-lg-12">
            <p>¿Todavía no es usuario?</p>
            @Html.ActionLink("Registrarse","Create","Financiadors")
        </div>
    </div>
</div>